Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
scratch/
cs252/proj5/tests/http-root-dir/htdocs/forbidden
.vscode-server/
Cache/js/a76279b2567da8b8_0
shared_proto_db/000003.log
.cache/
.config/
.dbus/
.fvwm/
.java/
.local/
.matlab/
.mozilla/
.pki/
.rstudio-desktop/
.ssh/
.vim/
.vscode-server/
.www/
.Xauthority
.Xrc.cs
.Xresources
.bash_history
.bashrc
.cshrc
.dmrc
.kshrc
.lesshst
.login
.mailrc
.profile
.viminfo
.wget-hsts
.xsession-errors
.xsession-errors.old
.zprofile
.zshrc
Downloads/
scratch/
Downloads/
scratch/
